.market-sectors {
  margin-top: 40px;
}

.market-sectors h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold; 
  text-align: left;  
}

.sector-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; 
  border-bottom: 1px solid #e5e7eb; 
}

.sector-item span {
  font-size: 1.2rem;
  color: #000000;
}

.sector-item:hover {
  background-color: #f9fafb; 
}

.sector-change {
  font-size: 1.2rem;
  font-weight: bold; 
}

.positive {
  color: #16a34a; 
}

.negative {
  color: #dc2626; 
}
