
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2563eb;
  color: #ffffff;
  font-family: 'SourceSansPro', sans-serif;
  position: relative;
  z-index: 10;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}


.auth-buttons {
  display: flex;
  gap: 10px; 
}

.login-btn, .signup-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'SourceSansPro', sans-serif;
  border-radius: 5px;
}


.login-btn {
  background-color: #ffffff;
  color: #2563eb;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: #2563eb;
  color: #ffffff;
  border: 2px solid #ffffff;
}


.signup-btn {
  background-color: #2563eb;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.signup-btn:hover {
  background-color: #ffffff;
  color: #2563eb;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .auth-buttons {
    margin-top: 10px;
  }
}
